@import "general.css";

article {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  width: 800px;
  padding: var(--space-s);
  border-radius: var(--space-s);
  margin: 0 var(--space-m);
}

img {
  display: block;
  max-width: 100%;
}

.contact-info {
  margin-left: var(--space-s);
}

.name {
  font-family: var(--font-family-title);
  font-weight: 200;
  margin-bottom: var(--space-s);
  grid-column: 1 / -1;
}

.contacts-hobbies {
  display: flex;
  gap: var(--space-m);
  grid-column: 1 / -1;
}

.contacts,
.hobbies {
  display: flex;
  flex-direction: column;
}

.heading {
  font-family: var(--font-family-title);
  margin-top: var(--space-none);
  margin-bottom: calc(var(--space-xs) * 0.1);
  font-weight: 200;
}

.contact {
  color: var(--primary-text-color);
  display: flex;
  justify-content: flex-start;
  background-color: var(--primary-color-light);
  padding: var(--space-xs);
  border-radius: var(--space-2xs);
  margin: var(--space-none);
  font-size: var(--font-size-1);
}

.contact-link:link,
.contact-link:visited {
  color: var(--primary-text-color);
}

.email {
  margin-left: var(--space-l);
}

.tel {
  margin-left: var(--space-2xl);
}

.website {
  margin-left: var(--space-s);
}

.hobbie {
  display: flex;
  justify-content: flex-start;
  margin: var(--space-none);
  gap: var(--space-s);
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: var(--space-2xs);
  margin-bottom: var(--space-s);
  color: var(--primary-text-color);
}

.bio-container,
.bio-container-typography {
  grid-column: 1 / -1;
  color: var(--primary-color);
  background-color: var(--bg-color);
  padding: var(--space-s);
  border-radius: calc(var(--space-2xs) * 0.5);
  border: 0.1rem solid var(--text-color);
}

p {
  font-style: italic;
  font-size: var(--font-size-0);
}

p:nth-child(2) {
  margin-bottom: var(--space-xs);
}

.bio-container-typography {
  height: 25rem;
  overflow: scroll;
  color: var(--text-color);
}

@media (max-width: 800px) {
  article {
    margin: 0 var(--space-l);
  }
}

@media (max-width: 700px) {
  .contacts-hobbies {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
    grid-column: 1 / -1;
    margin-bottom: var(--space-s);
  }
}

@media (max-width: 650px) {
  article {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  img {
    max-height: 220px;
  }
}
