@import "/css/--variables.css";
@import "/css/normalize.css";

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-title);
}

h1 {
  margin: calc(var(--space-m)) 0;
}

h2 {
  margin: calc(var(--space-m)) 0;
}

h3 {
  margin: calc(var(--space-m) * 0.8) 0;
}

h4 {
  margin: calc(var(--space-m) * 0.5) 0;
}

h5 {
  margin: calc(var(--space-s)) 0;
}

h6 {
  margin: calc(var(--space-s) * 0.8) 0;
}

a,
a:visited {
  text-decoration: underline;
}

a:hover {
  color: var(--transparent);
  cursor: pointer;
}

blockquote {
  margin: var(--space-m);
  color: var(--transparent);
}

p {
  margin: var(--space-xs) var(--space-none);
}

ul,
ol {
  margin: var(--space-s) var(--space-none);
}

li {
  margin: var(--space-2xs) var(--space-l);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: var(--font-family-text);
  line-height: 1;
  font-weight: 400;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: var(--font-size-1);
}

header {
  margin-bottom: var(--space-m);
}

.title {
  font-size: var(--font-size-2);
  display: flex;
  align-items: center;
}

.header {
  background-color: var(--primary-color);
  font-family: var(--font-family-title);
  font-weight: 500;
  padding: var(--space-xs);
  display: flex;
  justify-content: center;
}

.icon {
  padding: calc(var(--space-2xs) * 0.2);
  color: var(--primary-text-color);
  border: 1px solid var(--primary-text-color);
  border-radius: 12%;
  font-size: var(--font-size-2);
}

.head-link:link,
.head-link:visited {
  text-decoration: none;
  color: var(--primary-text-color);
}

main {
  display: flex;
  justify-content: center;
}
/*
.toggle-view-container {
  margin-bottom: var(--space-m);
  display: flex;
  justify-content: center;
}

.changeView {
  width: calc(var(--space-2xl) * 2);
  height: var(--space-xl);
  position: relative;
  display: block;
  border-radius: var(--space-m);
  box-shadow: inset var(--space-none) calc(var(--space-2xs) * 0.1)
      var(--space-xs) var(--transparent),
    inset var(--space-none) calc(var(--space-2xs) * -0.1) var(--space-xs)
      var(--transparent);
  cursor: pointer;
}

label:after {
  background: var(--primary-color-light);
  content: "";
  width: var(--space-l);
  height: var(--space-l);
  position: absolute;
  top: calc(var(--space-2xs));
  left: calc(var(--space-xs) / 1.5);
  border-radius: 50%;
  box-shadow: var(--space-none) calc(var(--space-2xs) * 0.1) var(--space-2xs)
    var(--shadow-color);
}

#toggle-view {
  display: none;
}

#toggle-view:checked + label:after {
  left: calc(var(--space-2xl) * 1.2);
  background: var(--secondary-color);
}

label,
label:after {
  transition: 0.3s all;
}

label ion-icon {
  position: absolute;
  top: var(--space-s);
  z-index: 100;
}
*/

.tableIcon {
  left: calc(var(--space-s) * 0.95);
  transition: 0.3s;
}

.gridIcon {
  left: calc(var(--space-2xl) * 1.35);
  transition: 0.3s;
}

.show {
  display: block;
}

.hide {
  display: none;
}

@media (max-width: 380px) {
  .header {
    display: flex;
    flex-direction: column;
  }

  .title {
    margin-inline: auto;
  }
}
