@import "/css/--variables.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1;
  font-weight: 400;
  background-color: var(--white);
}

header {
  margin-bottom: 2.4rem;
}

.title {
  background-color: var(--primary-blue);
  font-size: 1rem;
  font-family: "Lobster";
  font-weight: 500;
  padding: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.icon {
  font-size: 1rem;
  padding: 0.2rem;
  color: var(--white);
  border: 1px solid var(--white);
  border-radius: 12%;
}

.head-link:link,
.head-link:visited {
  text-decoration: none;
  color: var(--white);
}

main {
  display: flex;
  justify-content: center;
}

.changeTheme {
  margin: 0 auto;
  margin-bottom: 2rem;
  width: 4rem;
  height: 2rem;
  display: block;
  background-color: var(--dark-grey);
  border-radius: 20px;
  position: relative;
  transition: all 0.3s;
}

.changeTheme::before {
  position: absolute;
  left: 5px;
  top: 4px;
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--white);
  content: "";
  border-radius: 50%;
  transition: all 0.3s;
  box-shadow: 0 5px 10px var(--dark-grey);
}

.changeTheme input {
  display: none;
}

.changeTheme:has(input:checked) {
  background-color: var(--checked-toggle);
}

.changeTheme:has(input:checked)::before {
  left: 55%;
}

*:has(input:checked) {
}

h1,
h2,
h3,
h4,
h5,
h5,
h6 {
  font-family: "Lobster";
  font-weight: 500;
  margin: 0.8rem 0rem;
}

p {
  margin: 1rem 0rem;
}

li {
  margin: 0.8rem 2rem;
  list-style: disc;
}

blockquote {
  color: var(--dark-grey);
}
