@import "general.css";
@import "/css/--variables.css";

.container {
  margin: 0 2.4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.4rem;
}

.card {
  padding: 0.8rem;
  background-color: var(--primary-blue);
  display: flex;
  align-items: center;
  gap: 2.4rem;
  border-radius: 0.8rem;
  transition: 0.3s;

  position: relative;
}

.card:hover {
  background-color: var(--primary-blue-tint);
  z-index: 5;
  box-shadow: 1rem 0.8rem 1.8rem 0.3rem var(--black-shadow);
  transform: translateY(-0.3rem);
}

.card:hover .link {
  background-color: var(--primary-blue-tint);
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
}

.card:hover .number-id {
  display: block;
}

.img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;

  background-image: url("../img/contacts/jim.jpg");
  background-size: cover;
}

.number-id {
  font-size: 4.4rem;
  font-weight: 700;
  text-decoration: none;
  font-family: "Lobster";
  color: var(--white);
  position: absolute;
  top: 35px;
  left: 53px;

  display: none;
}

.full-name {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  font-size: 2rem;
  color: var(--white);
}

.surname {
  text-transform: uppercase;
  font-weight: 600;
}

.jim {
  background-image: url("../img/contacts/jim.jpg");
  background-size: cover;
}

.pam {
  background-image: url("../img/contacts/pam.jpg");
  background-size: cover;
}

.dwight {
  background-image: url("../img/contacts/dwight.jpg");
  background-size: cover;
}

.michael {
  background-image: url("../img/contacts/michael.jpg");
  background-size: cover;
}

.creed {
  background-image: url("../img/contacts/creed.jpg");
  background-size: cover;
}

.andy {
  background-image: url("../img/contacts/andy.jpg");
  background-size: cover;
}

.stanley {
  background-image: url("../img/contacts/stanleyy.jpg");
  background-size: cover;
}

.kevin {
  background-image: url("../img/contacts/kevin.jpg");
  background-size: cover;
}

.oscar {
  background-image: url("../img/contacts/oscar.jpg");
  background-size: cover;
}

@media (max-width: 1100px) {
  .container {
    margin: 0 2.4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.4rem;
  }
}

@media (max-width: 750px) {
  .container {
    margin: 0 2.4rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.4rem;
  }
}
