@import "general.css";
@import "/css/--variables.css";

.container {
  border: 2px solid var(--light-blue);
  border-radius: 0.8rem;
  overflow: hidden;
}

.row--head,
.row {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr;
}

.row--head {
  font-size: 1rem;
  font-weight: 700;
}

.link:link,
.link:visited {
  text-decoration: none;
  color: var(--black);
}

.row {
  font-size: 1rem;
  transition: all 0.3s;
}

.row:hover {
  background-color: var(--yellow);
  padding: 0.2rem 0;
}

.odd {
  background-color: var(--light-blue);
}

.cell-id {
  margin: 1.1rem 1.2rem;
  font-weight: 700;
}

.id {
  background-color: var(--white);
}

span {
  background-color: var(--yellow);
  padding: 0.2rem 0.4rem;
  border-radius: 50%;
}

.cell {
  margin: 1rem 0;
  margin-right: 3rem;
  min-height: 1rem;
  max-height: fit-content;
}

.cell.long-text {
  max-width: 6rem;
  overflow: hidden;
}

.long-text {
  text-overflow: ellipsis;
  overflow: hidden;
}

.row:hover .long-text {
  text-overflow: unset;
  overflow: unset;
  word-wrap: break-word;
}
