@import "general.css";
@import "/css/--variables.css";

.container {
  border: 3px solid var(--primary-color-light);
  border-radius: var(--space-2xs);
  overflow: hidden;
}

.row--head,
.row {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr;
  color: var(--text-color);
}

.row--head {
  font-size: var(--font-size-1);
  font-weight: 700;
}

.link:link,
.link:visited {
  text-decoration: none;
}

.row {
  transition: all 0.3s;
}

.row:hover {
  background-color: var(--secondary-color);
  padding: var(--space-2xs) 0;
}

.odd {
  background-color: var(--primary-color-light);
}

.cell-id {
  margin: var(--space-xs);
  font-weight: 700;
}

.id {
  background-color: var(--bg-color);
}

span {
  background-color: var(--secondary-color);
  padding: 0.2rem 0.6rem;
  border-radius: 50%;
}

.cell {
  margin: var(--space-xs);
  margin-right: var(--space-l);
  min-height: var(--space-s);
}

.cell.long-text {
  width: calc(var(--space-2xl) * 1.5);
  overflow: hidden;
}

.long-text {
  text-overflow: ellipsis;
  overflow: hidden;
}

.row:hover .long-text {
  text-overflow: unset;
  overflow: unset;
  word-wrap: break-word;
}
